{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('main.register') }}">
    {{ form.csrf_token }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.surname) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ form.submit(style="margin-top: 10px;") }}
  </form>
{% endblock %}