{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block header %}
<h1 xmlns="http://www.w3.org/1999/html">{% block title %}Update Room{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('rooms.update', id=room['id']) }}">
      {{ form.csrf_token }}
      {{ render_field(form.name) }}
      {{ render_field(form.description) }}

      {{ render_field(form.resources) }}

      <input type="submit" value="Update">
  </form>

    <form action="{{ url_for('rooms.delete', id=room['id']) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this room?')">
    </form>

{% endblock %}