{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}{{ resource.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h4 class="d-flex justify-content-center">Resource Description</h4>
  <div class="d-flex justify-content-center">
    <p style="white-space: pre-wrap;">{{ resource['description'] }}</p>
  </div>
    <hr>
  <div>
    <h4 class="d-flex justify-content-center">Images Below (TODO)</h4>
    <!-- images will dynamically be pulled to have a scrollable banner here -->
  </div>
  <hr>
{% endblock %}