{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block header %}
<h1 xmlns="http://www.w3.org/1999/html">{% block title %}New Booking for {{ room.name }}{% endblock %}</h1>
{% endblock %}


{% block content %}
    <form method="POST" action="{{ url_for('bookings.create', room_id=room['id']) }}">
        {{ form.csrf_token }}
        {{ render_field(form.title) }}

        {{ render_field(form.event_start) }}

        {{ render_field(form.time_start) }}
        {{ render_field(form.time_end) }}

        {{ render_field(form.summary) }}
        {{ render_field(form.attendees) }}

        {{ render_field(form.resources) }}
        {{ form.submit(style="margin-top: 10px;") }}
    </form>
{% endblock %}


