{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ form.title.data }} in {{ booking.room.name }} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('bookings.update', id=booking['id']) }}">
        {{ form.csrf_token }}
        {{ render_field(form.title) }}

        {{ render_field(form.event_start) }}

        {{ render_field(form.time_start) }}
        {{ render_field(form.time_end) }}

        {{ render_field(form.summary) }}
        {{ render_field(form.attendees) }}
        {{ render_field(form.resources) }}

        {{ form.submit(style="margin-top: 10px;") }}
  <hr>
  <form action="{{ url_for('bookings.cancelled', id=booking['id']) }}" method="post">
    <input class="danger" type="submit" value="Cancel" onclick="return confirm('Are you sure you want to cancel this booking?');">
  </form>
{% endblock %}